body{
  font-family: "Inter", serif;
  max-width: 34rem;
  width: 34rem;
  margin: 0 auto;
  background-color: #4d4d4d;
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  color: #4D4D4D;
  font-weight: 600;
}


.simple:hover,
.simple.selected {
  background-color: #e17654;
  color: white;
}

.rugged:hover,
.rugged.selected {
  background-color: #115e59;
    color: white;
}

.luxury:hover,
.luxury.selected {
  background-color: #161616;
    color: white;
}



@media screen and (max-width: 768px){
    .container-head{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1.5em;
      align-items:center;
    }
    .navv{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* display: none; */
    }
    
    
    body{
      width: 100%;
    }
    header{
      height: 100%;
      width: 100%;
      padding: 1.5em 0 ;
    }
    
}